<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>AutoShow - 销售服务</title>
    <meta name="description" content="AutoShow is a full responsive template. The template has been created especially for automotive dealers, car showroom and auto motor retailers.">
    <meta name="keywords" content="car showroom, auto dealer, automotive, mechanic auto shop, automotive, mechanic workshop">
    

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icon/apple-touch-icon-158-precomposed.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="animsition">
    <div class="site-wrapper header-top-with">
        <!-- header-area -->
        <header id="header" class="main-header fullwidth">
            <div class="header-top">
                <div class="container">         
                    <div class="top-left">
                        <ul class="clearfix">
                            <li>AutoShow，值得您信赖的车辆经销商</li>
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                        <p><i class="fa fa-phone"></i> 24/7 服务热线  0001 234 5678</p>
                    </div>           
                </div>
            </div>
            <div class="container">
                <a class="main-logo" href="index.html"><img src="assets/img/logo.svg" alt="autoshow"></a>
                <ul class="header-buttons">
                    <li class="dropdown">
                      <a class="user-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-user-circle" aria-hidden="true"></i></a>王博韬
                      <ul class="dropdown-menu">
                        <li><a href="#">编辑个人信息</a></li>
                        <li><a href="#">我的销售记录</a></li>
                        <li><a href="#">退出登录</a></li>
                      </ul>
                    </li>
                    <li><a class="nav-trigger">Menu<span></span></a></li>
                </ul>
                <nav class="nav">
                    <ul id="primary-nav" class="primary-nav is-fixed">
                        <li class="has-children">
                            <a>在售车型</a>
                            <ul class="nav-gallery is-hidden">
                                <li class="nav-drop-close"></li>
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li class="see-all"><a href="#">All Models</a></li>
                                <li>
                                    <a class="nav-item" href="model.html">
                                        <img src="assets/img/models/model1-menu.png" alt="Model1">
                                        <h3>Model1</h3>
                                        <p class="price">￥80,000<br /><s</p>
                                        <p class="tech">
                                            <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                                            <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                                            <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item" href="model.html">
                                        <img src="assets/img/models/model2-menu.png" alt="Model2">
                                        <h3>Model2</h3>
                                        <p class="price">￥160,000<br /></p>
                                        <p class="tech">
                                            <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                                            <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                                            <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item" href="model.html">
                                        <img src="assets/img/models/model3-menu.png" alt="Model3">
                                        <h3>Model3</h3>
                                        <p class="price">￥200,000<br /></p>
                                        <p class="tech">
                                            <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                                            <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                                            <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item" href="model.html">
                                        <img src="assets/img/models/model4-menu.png" alt="Model4">
                                        <h3>Model4</h3>
                                        <p class="price">￥300,000<br /></p>
                                        <p class="tech">
                                            <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                                            <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                                            <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item" href="model.html">
                                        <img src="assets/img/models/model5-menu.png" alt="Model5">
                                        <h3>Model5</h3>
                                        <p class="price">￥500,000<br /></p>
                                        <p class="tech">
                                            <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                                            <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                                            <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li><a href="pages-about.html">关于我们</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="overlay"></div>
        <!-- banner-area -->
        <section class="dark-section section-block">
            <div class="container">
                <div class="section-space"></div>
                <div class="row">

                    <div class="col-sm-6 offset-sm-1">
                        <div class="features-entry wow fadeInCdb">
                            <div class="image-holder">
                                <h2 class="section-title">销售订单</h2>

                                <form accept-charset="UTF-8" action="/" class="require-validation" method="post">

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">客户姓名</label>
                                            <input size="4" type="text">
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label class="control-label">联系方式</label>
                                            <input autocomplete="off" type="text">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">客户地址</label>
                                            <input autocomplete="off" size="20" type="text">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>所购车型</label>
                                            <select name="arac" class="selectpicker">
                                                <option value="1">Model 1</option>
                                                <option value="2">Model 2</option>
                                                <option selected="selected" value="3">Model 3</option>
                                                <option value="4">Model 4</option>
                                                <option value="5">Model 5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <textarea name="mesajınız" rows="6" class="margin-top-10" placeholder="备注"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label>*客户称谓</label>
                                            <br>
                                            <div class="radio">
                                                <input id="radio-1" name="radio" type="radio" checked="">
                                                <label for="radio-1"><span class="radio-label"></span> 先生 </label>
                                            </div>
     
                                            <div class="radio margin-left-20">
                                                <input id="radio-2" name="radio" type="radio">
                                                <label for="radio-2"><span class="radio-label"></span> 小姐 </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row margin-top-30">
                                        <div class="col-sm-12">
                                            <button class="button">提交</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 offset-sm-1">
                        <div class="features-entry wow fadeInCdb">
                            <div class="image-holder">
<h3>&ensp;</h3>
                                <img width="800" height="500" src="assets/img/about/about2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mid-space"></div>
            </div>
        </section>


        <!-- counter-area -->
        <section class="counters white-section section-block">

            <div class="big-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper text-center">
                        <h3 class="section-title">用数据为我们说话</h3>
                    </div>
                </div>
            </div> 

            <div class="container">
                <div class="row">
                    <div class="number col-md-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
                        <div class="numbers">
                            <div class="num-icon">
                                <i class="fa fa-handshake-o"></i>
                            </div>
                            <div class="num-content">
                                <h4 class="num-heading"><span class="accent" data-speed="3000" data-to="320" data-inviewport="yes">320</span>+</h4>
                                <h5><strong>品牌合作伙伴</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="number col-md-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".6s">
                        <div class="numbers">
                            <div class="num-icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="num-content">
                                <h4 class="num-heading"><span class="accent" data-speed="3000" data-to="263" data-inviewport="yes">263</span></h4>
                                <h5><strong>在职员工</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="number col-md-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".9s">
                        <div class="numbers">
                            <div class="num-icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="num-content">
                                <h4 class="num-heading"><span class="accent" data-speed="3000" data-to="12" data-inviewport="yes">12</span></h4>
                                <h5><strong>全国分店</strong></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
            <div class="big-space"></div>

        </section>
        <!-- features-area -->
        <section class="dark-section section-block">

            <div class="section-bg" style="background-image: url('assets/img/parallax.jpg');"></div>

            <div class="section-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper">
                        <h3 class="section-title">专注 卓越 成就</h3>
                    </div>
                </div>
            </div> 

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <article class="features-entry wow fadeInCdb" data-wow-duration="0.7s" data-wow-delay="0.2s">
                            <div class="image-holder margin-bottom-0">
                                <a href="#">
                                    <img width="800" height="500" src="assets/img/box/box1.jpg" alt="">
                                    <h4 class="features-title">设计</h4>
                                    <span class="features-overlay"></span>
                                </a>
                            </div>
                        </article> 
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <article class="features-entry wow fadeInCdb" data-wow-duration="0.7s" data-wow-delay="0.4s">
                            <div class="image-holder margin-bottom-0">
                                <a href="#">
                                    <img width="800" height="500" src="assets/img/box/box2.jpg" alt="">
                                    <h4 class="features-title">性能</h4>
                                    <span class="features-overlay"></span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <article class="features-entry wow fadeInCdb" data-wow-duration="0.7s" data-wow-delay="0.6s">
                            <div class="image-holder margin-bottom-0">
                                <a href="#">
                                    <img width="800" height="500" src="assets/img/box/box3.jpg" alt="">
                                    <h4 class="features-title">舒适性</h4>
                                    <span class="features-overlay"></span>
                                </a>
                            </div>
                        </article> 
                    </div>
             
                </div>
            </div>
            <div class="section-space"></div>
             
        </section>

        <!-- testimonials-area -->
        <section class="light-section section-block">

            <div class="section-space"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper margin-bottom-0 text-center">
                        <h3 class="section-title">使命和价值观</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row wow fadeInUp animated">
                    <div class="col-md-8 offset-md-2 col-12 offset-0">   
                        <div class="testimonials margin-top-20" data-auto="false" data-loop="false" data-column="1" data-column2="1" data-column3="1" data-gap="60">
                            <div class="owl-carousel owl-theme">

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">我们的使命：建立信任、实现卓越、始终如一</div>
                                        <div class="testimonial-author">
                                        </div>
                                    </div>
                                </div>

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">我们的品牌价值观：创新领导力、长期稳定的合作关系、创造价值、高度责任感、人才发展</div>
                                        <div class="testimonial-author">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-space"></div>

        </section>

        <!-- cta bar -->
        <div class="cta-bar">
            <ul>
                <li><a href="#" class="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i> 返回顶部</a></li>
            </ul>
        </div>
        <!-- footer-area -->
        <footer class="site-footer dark">  

            <div class="copyright"><center>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="copyright-text">
							
                            © Autoshow 2020 版权所有.
							
                            </div>
                        </div>
                    </div></center>
                </div> 
            </div> 
        </footer>
    </div>
</div>
<!-- Javascript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/animsition.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<script src="assets/js/countto.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.stickit.min.js"></script>
<script src="assets/js/jquery.parallax-1.1.3.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/magnific.popup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
